{{ partial "header.html" . }}

<section class="article">
  <h6>Actions {{.Title}}</h6>

  <section class="posts">

    {{ range .Data.Pages }}

    <section class="post">

          {{ $month_names := slice "janvier" "février" "mars" "avril" "mai" "juin" "juillet" "août" "septembre" "octobre" "novembre" "décembre" }}
          {{ $month := sub .Date.Month 1 }}

          <time datetime="{{ .Date.Format "2006-01-02"}}">{{ .Date.Day }}{{ if eq .Date.Day 1 }}er{{end}}&nbsp;{{ index $month_names $month }} {{ .Date.Year }}</time>

      <h2>
          <a href="{{.Permalink}}">{{.Title}}</a></h2>
          <p>  {{ .Summary }}</p>
          <p class="tags">
            {{ range (.GetTerms "tags") }}
          <span class="tag"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        </span>
        {{ end }}
        </p>
      </section>
  {{ end }}
  </section>

<p>&rarr; <a href="/actions/">Voir toutes les actions</a></p>

{{ partial "footer.html" . }}
