{{ partial "header.html" . }}

<section class="page">

<h1>{{ .Title }}</h1>
<p class="tags">
  {{ range (.GetTerms "tags") }}
  <span class="tag"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></span>
  {{ end }}
</p>

<div class="post-content">
  {{ .Content }}
</div>
</section>


{{ partial "footer.html" . }}
