<footer>
  <p><strong>Bretagne Transition</strong> - <a href="/actions/">Actions</a>, <a href="https://www.helloasso.com/associations/bretagne-transition/adhesions/bulletin-d-adhesion-a-l-association-bretagne-transition" target="_blank">Adhésion</a>, <a href="/contact/" target="_blank">Contact</a></p>
  <p>❦ Ce site est libre de tout cookie et mesure d'audience. Il est réalisé avec le générateur de site statique <a href="https://gohugo.io/">Hugo</a>, il est l'objet constant d'une meilleure accessibilité et d'une réduction de son poids carbone.</p>
</footer>
</section>
</body>
</html>
