<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ $.Site.Title }}</title>

  <meta name="Description" content="{{ $.Site.Params.description }}">

  <meta property="og:title" content="Bretagne Transition" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://bretagne-transition.org/" />
  <meta property="og:image" content="https://bretagne-transition.org/cover.png" />
  <meta property="og:description" content="{{ $.Site.Params.description }}">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/web2print01.css">

</head>

<body>
