{{ partial "header.html" . }}

<h6>Actions</h6>
<section class="posts">

  {{ range (where .Site.RegularPages "Section" "actions") }}

  <section class="post">

    {{ $month_names := slice "janvier" "février" "mars" "avril" "mai" "juin" "juillet" "août" "septembre" "octobre" "novembre" "décembre" }}
    {{ $month := sub .Date.Month 1 }}

    <time datetime="{{ .Date.Format "2006-01-02"}}">{{ .Date.Day }}{{ if eq .Date.Day 1 }}er{{end}}&nbsp;{{ index $month_names $month }} {{ .Date.Year }}</time>

    <h2>
        <a href="{{.Permalink}}">{{.Title}}</a></h2>
        <p>{{ .Summary }}</p>
        <p class="tags">
          {{ range (.GetTerms "tags") }}
        <span class="tag"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
      </span>
      {{ end }}
      </p>
    </section>
{{ end }}
</section>

{{ partial "footer.html" . }}
