{{ partial "header.html" . }}

<section class="action">

<h6>Actions</h6>
<h1>{{ .Title }}</h1>
<p class="tags">
  {{ range (.GetTerms "tags") }}
  <span class="tag"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></span>
  {{ end }}
</p>

    {{ $month_names := slice "janvier" "février" "mars" "avril" "mai" "juin" "juillet" "août" "septembre" "octobre" "novembre" "décembre" }}
    {{ $month := sub .Date.Month 1 }}

    <time datetime="{{ .Date.Format "2006-01-02"}}">{{ .Date.Day }}{{ if eq .Date.Day 1 }}er{{end}}&nbsp;{{ index $month_names $month }} {{ .Date.Year }}</time>

<div class="post-content">
  {{ .Content }}
</div>
</section>


{{ partial "footer.html" . }}
