@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --main-color: royalblue;
  --lite-color: lightgrey;
  --dark-color: royalblue;
  --bling-color: gold;
  --max-width: 920px;
}



mark{display: none;}
mark a, mark a:visited{color: black;}

*{margin: 0; padding: 0;}
body{margin: 0 auto; font-family: 'Libre Franklin', sans-serif; font-weight: 400; font-size: 16px; line-height: 140%; letter-spacing: 0.01rem; }
nav{padding: 5px; background-color: var(--dark-color); color: black; font-weight: 700; text-transform: uppercase; font-size: 12px;}
nav ul li{padding: 0 5px; display: inline-block;}
nav a, nav a:visited{color: white; border-bottom: 1px white solid; text-decoration: none;}
header{color: black; text-align: center; }
hr{margin: 50px 0; height:1px; border-width:0; background-color: var(--lite-color);}
header h1, header p{margin: 0 auto; max-width: ;}
header h1{padding: 20px 10px 30px; font-size: 16vw; line-height: 80%; font-weight: 900; }

article{margin: 0 auto; padding: 10px; max-width: var(--max-width);}

#pitch{margin: 10px auto 30px; max-width: 90%; font-size: 150%; font-weight: 300; line-height: 140%; text-align: center; max-width: 720px;}

.posts{margin: 0 auto 20px; max-width: var(--max-width); display: flex; flex-wrap: wrap; justify-content: space-between;}
.posts .post{margin-bottom: 20px; max-width: 280px;}
.post h2{font-size: 22px; line-height: 120%;}
.postdate{margin-top: 5px; font-size: 14px; line-height: 100%;}

h1, h2, h6{margin-bottom: 10px; font-weight: 900;}
h1{font-size: 32px; line-height: 100%; position: relative; z-index:-100;}
h2{margin-bottom: 5px; font-size: 20px;}
h6{margin: 60px 0 30px; font-size: inherit; text-transform: uppercase; text-align: center; font-weight: 700; color: DimGray;}

a, a:visited{color:var(--dark-color); border-bottom: 1px var(--dark-color) solid; text-decoration: none;}

time{font-size: 14px;line-height: 100%;}

.tags{margin: 5px 0; line-height: 120%; }
.tag{margin: 0 7px 0 0 ; padding: 1px 5px; font-size: 10px; background-color: var(--bling-color);  border-radius: 3px; text-transform: uppercase; font-weight: 400;}
.tag a, .tag a:visited{text-decoration: none; color: black; font-weight: 400; border-bottom: none;}

img {width: 100%;}

figure{margin: 20px auto; max-width: 640px;}
figcaption{font-style: italic; color: grey;}
ul {font-weight: 400; list-style-position: inside;}

.theme img{width: 100px; float: left;}
h5{margin: 0 0 5px; font-weight: 300; font-size: 24px;}

.action{margin: 0 auto; max-width: 720px;}
.page{margin: 60px auto 20px; max-width: 720px;}

.post-content{margin: 20px 0; }
.post-content p, .post-content ul{margin-bottom: 10px;}
.post-content h2{margin: 30px 0 15px;}

.cta{margin: 30px 0; width: 100%; text-align: center;}
.cta1{padding:10px 20px; background-color: var(--main-color) ; border-radius: 5px;}
.cta1 a, .cta1 a:visited{color: white; font-weight: 400; border-bottom: 1px white solid; font-weight: 500; font-size: 120%;}

#partenaires img{margin: 0 auto; max-width: 100px;}

footer{margin-top: 50px; padding: 10px; background-color: lightgrey; color: dimgrey; }
footer p{margin: 0 auto; padding: 10px; max-width: var(--max-width);}

strong{font-weight: 700;}

/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
#mc_embed_signup form {display:block; position:relative; text-align:left; padding:10px 0 10px 3%}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border: 1px solid #ABB0B2; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: var(--main-color) ; border: 0 none; border-radius:4px; transition: all 0.23s ease-in-out 0s; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:20px; font-weight: normal; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding: 0 22px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}

#mc_embed_signup .mc-field-group {clear:left; position:relative; width:96%; padding-bottom:3%; min-height:50px;}
#mc_embed_signup .size1of2 {clear:none; float:left; display:inline-block; width:46%; margin-right:4%;}
* html #mc_embed_signup .size1of2 {margin-right:2%; /* Fix for IE6 double margins. */}
#mc_embed_signup .mc-field-group label {display:block; margin-bottom:3px;}
#mc_embed_signup .mc-field-group input {display:block; width:100%; padding:8px 0; text-indent:2%;}
#mc_embed_signup .mc-field-group select {display:inline-block; width:99%; padding:5px 0; margin-bottom:2px;}

#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us{padding:5px 0;}
#mc_embed_signup .datefield input, #mc_embed_signup .phonefield-us input{display:inline; width:60px; margin:0 2px; letter-spacing:1px; text-align:center; padding:5px 0 2px 0;}
#mc_embed_signup .phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input{width:40px;}
#mc_embed_signup .datefield .monthfield input, #mc_embed_signup .datefield .dayfield input{width:30px;}
#mc_embed_signup .datefield label, #mc_embed_signup .phonefield-us label{display:none;}

#mc_embed_signup .indicates-required {text-align:right; font-size:11px; margin-right:4%;}
#mc_embed_signup .asterisk {color:#e85c41; font-size:150%; font-weight:normal; position:relative; top:5px;}
#mc_embed_signup .clear {clear:both; text-align: center;}

#mc_embed_signup .mc-field-group.input-group ul {margin:0; padding:5px 0; list-style:none;}
#mc_embed_signup .mc-field-group.input-group ul li {display:block; padding:3px 0; margin:0;}
#mc_embed_signup .mc-field-group.input-group label {display:inline;}
#mc_embed_signup .mc-field-group.input-group input {display:inline; width:auto; border:none;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%; margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

#mc-embedded-subscribe {clear:both; width:auto; display:block; margin:1em 0 1em 5%;}
#mc_embed_signup #num-subscribers {font-size:1.1em;}
#mc_embed_signup #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {display:inline-block; margin:2px 0 1em 0; padding:5px 10px; background-color:rgba(255,255,255,0.85); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:14px; font-weight:normal; z-index:1; color:#e85c41;}
#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {border:2px solid #e85c41;}

/* PYCs Quick Fixes */

#mc_embed_signup{margin: 0 auto; background-color:none; clear:left; font-size:20px; line-height: 20px; font-family: 'Barlow',Helvetica,Arial,sans-serif; max-width: 600px;}


/* MEDIA QUERIES */
    @media only screen and (max-width: 599px) {
      .theme {margin: 40px auto 0; display:flex; align-items: flex-start; gap:10px; max-width: 90%; flex-direction: column; }
#partenaires{display:flex; flex-wrap: wrap;}
.mc-field-group{flex-direction: column;}

}
    @media print, screen and (min-width: 600px) {
      .theme {margin: 40px auto 0; display:flex; align-items: flex-start; gap:10px; max-width: 90%; flex-direction: row; }
      #partenaires{display:flex; flex-wrap: wrap;}
      .mc-field-group{flex-direction: row;}

}
