@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --main-color: royalblue;
  --lite-color: lightgrey;
  --dark-color: royalblue;
  --bling-color: gold;
  --max-width: 920px;
}

@page { margin: 0mm; }
  *{margin: 0; padding: 0}
  body{margin: 0 auto; font-family: 'Libre Franklin', sans-serif; word-spacing: -1px; color: var(--main-color); font-size: 16px; line-height: 24px; background-color: lightgrey;}
  .page{margin-bottom: 10px; background-color: white; border: 1px solid grey;}

  header{  grid-column: 1 / span 2; border-bottom: 10px solid var(--main-color);}
  nav ul{display: flex;}
  nav ul li{padding: 20px; list-style-type: none;}
  #millesime{font-size: 42px; text-align: right;}
  header h1{font-size: 150px; line-height: 80%; font-weight: 900;}
  #pitch{font-size: 36px; line-height: 120%;}

  a, a:visited{color:var(--dark-color); border-bottom: 1px var(--dark-color) solid; text-decoration: none;}

  h2{grid-column: 1 / span 2}
  #edito{grid-column: 1 / span 2; columns: 2;}

  p{margin-bottom: 10px;}

  figure{margin: 20px auto; width: 100%;}
  figure img {width: 100%;}

  h1, h2, h6{margin-bottom: 10px; font-weight: 900;}
  h1{font-size: 32px; line-height: 100%; }


/* MEDIA QUERIES --- pour la lecture sur ordinateur, mobile et l'impression!  */
          @media only screen and (max-width: 599px) {
            .page{margin: 0 auto; padding: 10px; overflow: hidden; }
            }
          @media print, screen and (min-width: 600px) {
            .page{margin: 0 auto; padding: 5mm; width: 210mm; height: 297mm; display: grid; grid-template-columns: 1fr 1fr; overflow: hidden; page-break-after: always; }

          }
